$red: #babbbc;
$s: solid aqua;
$l: large;
$text: #babbcc;

$dark-mode: true;

$light-background: beige;
$light-text: black;

$dark-background: navy;
$dark-text: white;

// @if $red {
//     width: 400px;
//     margin-left: 30%;
//     border: $s;
//     font-size:$l;
    
// }
.dark-mode {
        background-color: $dark-background;
        color: $dark-text;
}


.header {
  text-align: center;
  color: red;
  font-size: xxx-large;
}

.subhead {
  text-align: center;
  color: $text;
  font-size: xx-large;
}

.jump {
    background-color: white;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;     
}
div {
    text-align: center;
}
.jump {
    background-color: white;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;     
        
}
.feedback {
    background-color: white;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 300px;  
        margin-bottom: .5in;
        
}
.book1 {
    background-color: $red;
    
    
}

.book2 {
    background-color: $red;
}
.book3 {
    background-color: $red;
    
}
.book4 {
    background-color: $red;
   
}
.book5 {
    background-color: $red;
}